[submodule "main/openvpn"]
	path = main/src/main/cpp/openvpn
	url = ../../schwabe/openvpn.git
[submodule "main/openssl"]
	path = main/src/main/cpp/openssl
	url = ../../schwabe/platform_external_openssl.git
[submodule "main/src/main/cpp/mbedtls"]
	path = main/src/main/cpp/mbedtls
	url = ../../ARMmbed/mbedtls.git
[submodule "main/src/main/cpp/openvpn3"]
	path = main/src/main/cpp/openvpn3
	url = ../../schwabe/openvpn3.git
[submodule "main/src/main/cpp/asio"]
	path = main/src/main/cpp/asio
	url = ../../chriskohlhoff/asio/
[submodule "main/src/main/cpp/lz4"]
	path = main/src/main/cpp/lz4
	url = ../../lz4/lz4.git
