language: android
jdk: oraclejdk8
android:
  components:
    - android-25
    - build-tools
  licenses:
    - '.+'
install:
  - echo y | android update sdk -u -a -t tools
  - echo y | android update sdk -u -a -t platform-tools
  - echo y | android update sdk -u -a -t build-tools-25.0.2
  - echo y | android update sdk -u -a -t android-25
  - echo y | android update sdk -u -a -t extra-android-support
