<!--
  ~ Copyright (c) 2012-2019 Arne Schwabe
  ~ Distributed under the GNU GPL v2 with additional terms. For full terms see the file doc/LICENSE.txt
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.blinkt.openvpn">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
                android:exported="true"
            android:name=".activities.NotImplemented"
            tools:ignore="ExportedActivity" />

        <activity-alias
                android:exported="true"
                android:name=".activities.LogWindow"
                android:targetActivity=".activities.NotImplemented"
            />

        <activity-alias
                android:exported="true"
                android:name=".activities.Req"
                android:targetActivity=".activities.NotImplemented"
                />

    </application>

</manifest>
