<!--
  ~ Copyright (c) 2012-2019 Arne Schwabe
  ~ Distributed under the GNU GPL v2 with additional terms. For full terms see the file doc/LICENSE.txt
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="de.blinkt.openvpn">

    <uses-feature
            android:name="android.software.leanback"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />

    <application
            android:banner="@mipmap/banner_tv"
            tools:targetApi="lollipop">
        <activity
                android:exported="true"
                android:name=".activities.MainActivity"
                tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.InternalWebView" />
        <activity
                android:name=".activities.CredentialsPopup"
                android:theme="@style/blinkt.dialog" />


        <activity
                android:name=".activities.LogWindow"
                android:allowTaskReparenting="true"
                android:label="@string/openvpn_log"
                android:launchMode="singleTask" />

        <activity
                android:name=".activities.VPNPreferences"
                android:exported="false"
                android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.FileSelect" />
        <service
                android:exported="true"
                android:name=".OpenVPNTileService"
                android:icon="@drawable/ic_quick"
                android:label="@string/qs_title"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                    android:name="android.service.quicksettings.ACTIVE_TILE"
                    android:value="false" />
        </service>
        <activity
                android:name=".activities.ConfigConverter"
                android:exported="true"
                android:excludeFromRecents="true"
                android:label="Convert Config File"
                android:taskAffinity=".ConfigConverter"
                android:uiOptions="splitActionBarWhenNarrow"
                tools:ignore="ExportedActivity">
            <intent-filter
                    android:label="@string/import_config"
                    tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-openvpn-profile" />
            </intent-filter>
            <intent-filter
                    android:label="@string/import_config"
                    tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/ovpn" />
            </intent-filter>
            <intent-filter android:label="@string/import_config">

                <!-- http://stackoverflow.com/questions/7f030832/associating-certain-file-extension-to-my-android-application/7102838#7102838 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity> <!-- https://commonsware.com/blog/2019/03/27/death-external-storage-stay-away-files.html -->
        <activity-alias
                android:exported="true"
                android:name=".activities.ConfigConverterFile"
                android:enabled="@bool/supportFileScheme"
                android:targetActivity=".activities.ConfigConverter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity-alias>

        <activity
                android:exported="true"
                android:name=".activities.CreateShortcuts"
                android:excludeFromRecents="true"
                android:label="@string/vpn_shortcut"
                android:taskAffinity=".CreateShortcuts"
                android:theme="@android:style/Theme.DeviceDefault.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:exported="false"
                android:name=".activities.OpenSSLSpeed"
                android:label="@string/title_activity_open_sslspeed"
                android:parentActivityName=".activities.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.blinkt.openvpn.activities.MainActivity" />
        </activity>


        <provider
                android:name=".FileProvider"
                android:authorities="${applicationId}.FileProvider"
                android:exported="true"
                android:grantUriPermissions="true"
                tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
