# The name of our workflow
name: Build
on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
          target: [Ui, Skeleton]
    name: "Release ${{ matrix.target }}"
    runs-on: ubuntu-latest
    steps:
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Use debug signing
        run: mkdir -p ~/.gradle && echo -e "icsopenvpnDebugSign=true\norg.gradle.jvmargs=-Xmx2048M" > ~/.gradle/gradle.properties
      - name: Checkout the code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build the app
        run: ./gradlew assemble${{ matrix.target }}Release
      - name: Run Unit tests
        run: ./gradlew test${{ matrix.target }}ReleaseUnitTest