<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="pro.sargo">

    <!--
        SargO flavor manifest.
        This merges with src/main/AndroidManifest.xml. It contains the same UI surface
        as src/ui/AndroidManifest.xml plus the SargO-specific entry point and receiver.
    -->

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- This library wants SDK version 23 but we do runtime checks to not use it before API 23 -->
    <uses-sdk tools:overrideLibrary="androidx.security"/>

    <application android:banner="@mipmap/banner_tv">
        <!--
            Entry point for SargO-managed OpenVPN.
            This activity is launched by the SargO launcher or on boot.
        -->
        <activity
            android:name=".sargo.SargoLauncherActivity"
            android:exported="true"
            android:theme="@style/blinkt"
            android:label="@string/app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".sargo.SargoConfigReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="pro.sargo.push.configUpdated" />
            </intent-filter>
        </receiver>

        <!-- Standard ics-openvpn UI activities (mirrored from src/ui/AndroidManifest.xml) -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="openvpn" />
                <data android:host="import-profile" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.CredentialsPopup"
            android:theme="@style/blinkt.dialog" />

        <activity
            android:name=".activities.LogWindow"
            android:allowTaskReparenting="true"
            android:label="@string/openvpn_log"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.VPNPreferences"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.FileSelect" />

        <service
            android:exported="true"
            android:name=".OpenVPNTileService"
            android:icon="@drawable/ic_quick"
            android:label="@string/qs_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

        <activity
            android:name=".activities.ConfigConverter"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="Convert Config File"
            android:taskAffinity=".ConfigConverter"
            android:uiOptions="splitActionBarWhenNarrow"
            tools:ignore="ExportedActivity">
            <intent-filter
                android:label="@string/import_config"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/x-openvpn-profile" />
            </intent-filter>
            <intent-filter
                android:label="@string/import_config"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/ovpn" />
            </intent-filter>
            <intent-filter android:label="@string/import_config">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity>

        <activity-alias
            android:exported="true"
            android:name=".activities.ConfigConverterFile"
            android:enabled="@bool/supportFileScheme"
            android:targetActivity=".activities.ConfigConverter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*..*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*..*.ovpn" />
                <data android:pathPattern=".*..*..*.ovpn" />
                <data android:pathPattern=".*..*.ovpn" />
                <data android:pathPattern=".*.ovpn" />
            </intent-filter>
        </activity-alias>

        <activity
            android:exported="true"
            android:name=".activities.CreateShortcuts"
            android:excludeFromRecents="true"
            android:label="@string/vpn_shortcut"
            android:taskAffinity=".CreateShortcuts"
            android:theme="@android:style/Theme.DeviceDefault.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:exported="false"
            android:name=".activities.OpenSSLSpeed"
            android:label="@string/title_activity_open_sslspeed"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.blinkt.openvpn.activities.MainActivity" />
        </activity>

        <provider
            android:name=".FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>
